/* Universal CSS Start From Here */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p, input, a, span{
  font-family: 'Poppins', sans-serif;
}

ul li{
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}


/* Universal CSS Start End Here */


/* Header Section Start Here */

.header{
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}

.header ul li{
  margin: 15px;
  text-align: center;
}

.header ul li a{
  color: #ffffff !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}

.input-group{
  color: #ffffff;
}

.form-control{
  padding: 5px 8px !important;
  color: #ffffff !important;
  background-color: #fcc302 !important;
  border: 1px solid #fcc302 !important;
  border-radius: 0;
}
.form-control:focus{
  outline: none;
  background-color: #fcc302;
  color: #ffffff;
  outline: none;
}

.input-group span{
  background-color: #00bfcb;
  border: 1px solid #00bfcb;
  border-radius: 0;
}

.input-group span a{
  color: #ffffff;
}

/* .src-in{
  background-color: #ffc400;
  border: none;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
}
.src-in:hover{
  outline: none;
  border: none;
  box-shadow: 0;
}

.src{
  background-color: #ffc400;
  color: #ffffff !important;
  border: none;
  width: 180px;
  border-radius: 0;
  padding: 8px 10px;
}
.src:focus{
  outline: none;
  background: transparent;
  border: 1px solid #ffc400;
}

::-webkit-input-placeholder{
  color: #ffffff;
  opacity: .8;
}

.in-src{
  background-color: #00bfcb;
  border: none;
  border-radius: 0;
}

.in-src a{
  color: #ffffff;
} */


/* Header Section End Here */


/* Banner Section Start Here */

.banner{
  background-color: #fcc302;
  width: 100%;
  padding: 120px 0;
  /* height: 100vh; */
}

.bnr-lft{
  text-align: left;
  padding: 80px 0 0 0;
}
.bnr-lft h1{
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}
.bnr-lft p{
  color: #ffffff;
  font-size: 32px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-btn{
  background-color: #00bfcb;
  border: 2px solid #00bfcb;
}

.service-btn{
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.bnr-ryt{
  padding: 0 40px;
}

/* Banner Section End Here */


/* Group-1 Section Startv Here */

.group1{
  width: 100%;
  padding: 120px 0;
}

.grp1-lft{
  padding-right: 50px;
}

.grp1-lft h2{
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  text-align: left;
}
.grp1-lft p{
  font-size: 32px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: left;
}

.grp1-lft input{
  background-color: #fcc302;
  color: #ffffff;
  border: 1px solid #fcc302;
}

.vdo{
  width: 100%;
  position: relative;
  display: block;
}

.vdo-box{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background: rgba(252, 195, 2, 0.6);
  z-index: 1;
}

.bottom-box{
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #fcc302;
  left: -6%;
  bottom: -6%;
  z-index: -1;
}

/* Group-1 Section Startv Here */


/* Group-2 Section Start Here */

.group2{
  width: 100%;
  background-color: #fcc302;
  padding: 80px 0;
}

.top{
  width: 50%;
  margin: auto;
  text-align: center;
}

.top h1{
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.top p{
  color: #ffffff;
  font-size: 32px;
  font-size: 18px;
  margin-bottom: 30px;
}

.inner{
  width: 100%;
  margin: auto;
}

.inner img{
  margin: 10px 20px;
}

.inner h4{
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin: 10px 20px;
}

.inner p{
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  margin: 10px 20px;
}

/* Group-2 Section End Here */


/* Group-3 Section Start Here */


.grp3-vdo{
  width: 100%;
  position: relative;
  display: block;
}

.grp3-vdo-box{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background: rgba(252, 195, 2, 0.6);
  z-index: 1;
}

.grp3-bottom-box{
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #fcc302;
  right: -6%;
  bottom: -6%;
  z-index: -1;
}



.group3{
  width: 100%;
  padding: 80px 0;
}

.grp3-ryt{
  padding-right: 40px;
  text-align: right;
}

.grp3-ryt h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  text-align: right;
}
.grp3-ryt p{
  font-size: 32px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: right;
}

.grp3-ryt input{
  background-color: #fcc302;
  color: #ffffff;
  border: 1px solid #fcc302;
}

/* Group-3 Section End Here */



/* Group-4 Section Start Here */

.group4{
  width: 100%;
  background-color: #fcc302;
  padding: 80px 0;
}

.inner h4 span{
  padding-right: 20px;
}

.inner input{
  width: 50%;
  margin: 10px auto;
  color: #ffffff;
}


/* Group-4 Section End Here */



/* Group-5 Section Start Here */

.group5{
  width: 100%;
  padding: 80px 0;
}

.g5-top{
  width: 50%;
  margin: auto;
  text-align: center;
}

.g5-top h1{
  color: #000000;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.g5-top p{
  color: #000000;
  font-size: 32px;
  font-size: 20px;
  margin-bottom: 30px;
}

.group5 .inner{
  width: 100%;
  margin: auto;
}

.group5 .inner h4{
  color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.group5 .inner p{
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  /* margin: 10px 20px; */
}

.social{
  text-align: 100%;
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.social ul{
  margin: 0;
  padding: 0;
}

.social ul li{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fcc302;
  border: 1px solid #fcc302;
  border-radius: 50%;
}
.social ul li a{
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}



/* Group-5 Section End Here */

/* Group-6 Section Start Here */

.group6{
  width: 100%;
}

.group6-img{
  width: 100%;
  position: relative;
}

.group6-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(252, 195, 2, 0.8);
}

.con{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.in{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 150px 0;
}

.in span{
  text-align: center;
  margin-bottom: 30px;
}
.in span i{
  text-align: center;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}

.in p{
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.in h3{
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}


/* Group-6 Section End Here */


/* Group-7 Section Start Here */

.group7{
  width: 100%;
  padding: 80px 0;
}



/* Group-7 Section End Here */


/* Footer Section Start Here */

.footer{
  width: 100%;
  padding: 80px 0;
  background-color: #313131;
}

.footer h3{
  color: #ffffff;
  margin-bottom: 30px;
}

.footer p{
  color: #ffffff;
}

.footer ul li{
  margin-bottom: 6px;
}

.footer ul li a{
  color: #ffffff;
}

.foot-in{
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.foot-in .title h3{
  margin-bottom: 5px;
}

.foot-in .title p{
  margin-bottom: 20px;
}

.foot-in .subscribe{
  margin: 20px 0 20px 100px !important;
}

.foot-in .social{
  text-align: right;
}

.foot-in .social ul li{
  text-align: right;
  color: #313131;
  background-color: #ffffff;
  border: 1px solid #313131;
  text-align: center;
}

.foot-in .social ul li a{
  color: #313131;
  text-align: center;
}


/* Footer Section End Here */


/* Google Font */

/* font-family: 'Poppins', sans-serif; */